@charset "UTF-8";

@media screen and (max-width: 849px) and (orientation: landscape) {
    main {
        display: grid;
        grid-template: 1fr 120px / 1fr;
    }

    section#lista {
        position: relative;
        align-items: center;
        overflow-y: auto;
    }
    
    section#lista img {
        width: 150px;
        height: 70px;
        margin-bottom: 20px;
    }
}