@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 992px) and (orientation: landscape) {
    section#lista {
        align-items: center;
        height: auto;
    }
    
    section#lista img {
        width: 150px;
        height: 70px;
    }
}