@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 992px) {
    main {
        flex-flow: row nowrap;
    }

    section#detalhes {
        flex-direction: column;
        justify-content: center;
        width: 42%;
        height: 100%;
    }

    p {
        display: none;
    }

    button {
        display: block;
        background-color: #A81832;
        padding: 10px;
        border-radius: 20px;
    }

    div#gradiente {
        width: 75%;
        height: 100%;
        background-image: linear-gradient(to right, #141414, transparent);
    }
}